<div class="container">
  <div class="box">

<h1>マイページ</h1>
<p>登録情報</p><%= link_to "編集する",public_customers_information_edit_path,class:"btn btn-success" %>
<table class="table table-bordered">
    <tr>
    <th>ニックネーム</th>
    <td><%= current_customer.nickname %></td>
    </tr>
    <tr>
    <th>メールアドレス</th>
    <td><%= current_customer.email %></td>
    </tr>
</table>

<h1>投稿ページ</h1>
<% if customer_signed_in? %>
  <%= button_to "投稿ページへ", public_post_page_path, method: :get %>
<% end %>

<% @post_pages.each do |post_page| %>
  <%= link_to post_page.title,public_post_path(post_page) %>
  <%= simple_format(post_page.body) %>
  <%= link_to "投稿削除", public_post_path(post_page.id), method: :delete, "data-confirm" => "本当に削除しますか？",class:"btn btn-danger" %>
  <br>
<% end %>

  </div>
</div>