<div class="container">
  <div class="box">

<h1>投稿一覧</h1>

<div class="post_search">
      <%= form_with url: search_public_post_index_path, method: :get, local: true do |f| %>
        <%= f.text_field :search, class: 'form-control', placeholder: "キーワード検索"  %>
        <%= f.submit "検索", style: "margin-top: 30px;" %>
      <% end %>
</div>

<% @post.each do |posts| %>
<%= posts.genre_id%>
<%= link_to posts.title,public_post_path(posts) %>
<%= simple_format(posts.body) %>
<% end %>

  </div>
</div>