<div class="container">
<div class="raw">
  <div class="box1">

<h1>投稿詳細</h1>
<div class="text-right">
<% if customer_signed_in? %>
<% if @post.nices?(current_customer) %>
    <%= link_to post_nices_path(@post), method: :delete do %>
        <span style="font-size: 50px;">⭐️</span>
    <% end %>
<% else %>
    <%= link_to post_nices_path(@post), method: :post do %>
        <span style="font-size: 50px;">☆</span>
    <% end %>
<% end %>
<% end %>
</div>
<br>
<div style="font-size: 50px;"><%= @post.title %></div>
<div style="font-size: 20px;"><%= simple_format(@post.body) %></div>

<% if customer_signed_in? %>
    <%= form_with model: @comment, url: public_post_comments_path(@post), method: :post do |f| %>
      <p style="font-size: 20px;"><%= f.text_area :body, placeholder: "コメントを投稿する..." %></p>
      <%= f.submit "コメントを投稿" %>
    <% end %>
<% end %>

<% @post.comments.each do |comment| %>
    <div class="comment_in">
        <div class="nickname">
            <span >
                <%= comment.customer.nickname %>
            </span>
        </div>
        <div class="comment">
            <%= simple_format(comment.body) %>
        </div>
        <div class="timestamp">
            <small>
                <%= comment.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H:%M") %>
            </small>
        </div>
        <% if customer_signed_in? and comment.customer_id == current_customer.id %>
            <%= link_to '削除', public_post_comment_path(@post, comment), method: :delete, class: "link_delete" %>
        <% end %>
    </div>
<% end %>

  </div>
</div>
</div>