<h1>投稿詳細</h1>

<% if customer_signed_in? %>
<% if @post.nices?(current_customer) %>
    <%= link_to post_nice_path(@post.id, @post.nices.find_by(customer: current_customer).id), method: :delete do %>
        <span style="color:red;">❤︎</span>
    <% end %>
<% else %>
    <%= link_to post_nices_path(@post.id), method: :post do %>
        <span>❤︎</span>
    <% end %>
<% end %>
<% end %>

<%= @post.title %>
<%= @post.body %>

<h3>新規書き込み</h3>
<%= form_for @newpost, :url => public_post_create_path do |f| %>
  <p>お名前</p>
  <p><%= f.text_field :title %></p>
  <p>本文</p>
  <p><%= f.text_area :body %></p>
  <%= f.hidden_field :customer_id %>

  <%= f.submit %>
<% end %>