<div class="container">
  <div class="box1">
    

    <h1>Game_Community</h1>
    <p>ようこそ</p>
    <P>Game_Communityで</P>
    <p>みんなと話し合いましょう</p>
    
    
    <div class="post_search">
      <%= form_with url: search_public_post_index_path, method: :get, local: true do |f| %>
        <%= f.text_field :search, class: 'form-control', placeholder: "キーワード検索"  %>
        <%= f.submit "検索", style: "margin-top: 30px;" %>
      <% end %>
    </div>
    
    <h1 style="margin-top: 30px;">投稿一覧</h1>
    <div class="top">
      <% @post.each do |posts| %>
        <%= posts.genre_id%>
    
         <div class="top_in">＞<%= link_to posts.title,public_post_path(posts) %></div>
      <% end %>
      </div>
  </div>
</div>