<div class="container">
  <div class="raw">
  <div class="box1">

<h1>ジャンル一覧・追加</h1>
<%= form_with model: Genre.new,url:admins_genres_path do |f| %>
ジャンル名
  <%= f.text_field :name %>
  <%= f.submit '新規登録',class:"btn btn-success" %>
<% end %>
      <h3>ジャンル</h3>
      <div>
      <% @genres.each do |genre| %>
        <%= genre.name %><br>
        <%= link_to "編集する",edit_admins_genre_path(genre.id),class:"btn btn-success" %><br>
      <% end %>
      </div>
      </div>
      </div>
      </div>